# Servidor
PORT=3000

# Google OAuth 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Opcional (si luego usas frontend separado)
BASE_URL=

#token.json en base64 para subir a prod
GOOGLE_OAUTH_TOKEN=
